@charset "utf-8";
/* CSS Document */

body {
	background-color: darkorchid
}

h2 { 
    color: aliceblue;
	text-decoration: wavy 5px purple;
}
img { 
width: 400px;
border: 15px dotted silver;
border-radius: 50%;
}
img:hover {
	border: 25px dashed black;
}
